<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.BoardMapper">
	<resultMap type="com.example.demo.board.Board" id="board">
		<result property="num" column="num"/>
		<result property="type" column="type"/>
		<result property="writer" column="writer"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="regdate" column="regdate"/>
		<result property="updatedate" column="updatedate"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.example.demo.board.Board">
		insert into board values(seq_board_nextval, #{type}, #{writer},	#{title}, #{content}, sysdate, sysdate)
	</insert>
	
	<select id="select" resultMap="board" parameterType="int">
		select * from board where num=#{num}
	</select>
	
	<select id="selectAll" resultMap="board">
		select * from board order by num
	</select>
	
	<select id="selectByType" resultMap="board" parameterType="String">
		select * from board where type=#{type} order by num
	</select>

	<delete id="delete" parameterType="int">
		delete board where num=#{num}
	</delete>
	
	<update id="update" parameterType="com.example.demo.board.Board">
		update board set pwd=#{pwd}, title=#{title}, content=#{content} where num=#{num}
	</update>

</mapper>
