<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.qna.QnaMapper">
	<resultMap type="com.example.demo.qna.Qna" id="qna">
		<result property="num" column="num"/>
		<result property="writer" column="writer"/>
		<result property="q_cate" column="q_cate"/>
		<result property="pwd" column="pwd"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="state" column="state"/>
		<result property="regdate" column="regdate"/>
		<result property="updatedate" column="updatedate"/>
		<result property="path" column="path"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.example.demo.qna.Qna">
		insert into qna values(#{num}, #{writer}, #{q_cate}, #{pwd}, #{title}, #{content}, #{state}, sysdate, sysdate, #{path})
	</insert>
	
	<select id="select" resultMap="qna" parameterType="int">
		select * from qna where num=#{num}
	</select>
	
	<select id="selectAll" resultMap="qna">
		select * from qna order by num
	</select>
	
	<select id="selectByWriter" resultMap="qna" parameterType="String">
		select * from qna where writer=#{writer} order by num
	</select>

	<delete id="delete" parameterType="int">
		delete qna where num=#{num}
	</delete>
	
	<update id="update" parameterType="com.example.demo.qna.Qna">
		update qna set pwd=#{pwd}, q_cate=#{q_cate},title=#{title}, content=#{content}, updatedate=sysdate where num=#{num}
	</update>
	
	
	<select id="getNum" resultType="int">
		SELECT seq_qna.nextval FROM dual
	</select>
	
	<select id="selectO_history" resultType="String" parameterType="String">
		select p.name from order1 o INNER JOIN product p ON o.p_num=p.num AND o.m_id=#{writer};
	</select>

</mapper>
