<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.reply.RepMapper">
	<resultMap type="com.example.demo.reply.Reply" id="rep">
		<result property="num" column="num"/>
		<result property="board_num" column="board_num"/>
		<result property="writer" column="writer"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="path" column="path"/>
	</resultMap>
	
	<select id="getReplyById" parameterType="String" resultMap="rep">
	SELECT * FROM reply WHERE writer=#{writer}
	</select>
	
	<select id="getReplyByBoardNum" parameterType="int" resultMap="rep">
	SELECT * FROM reply WHERE board_num=#{board_num}
	</select>
	
	<insert id="insert" parameterType="com.example.demo.reply.Reply">
		insert into reply values(seq_reply.nextval, #{board_num}, 'admin', #{content}, sysdate, 'path')
	</insert>
	
	<select id="select" resultMap="rep" parameterType="int">
		select * from reply where num=#{num}
	</select>

	<delete id="delete" parameterType="int">
		delete reply where num=#{num}
	</delete>
</mapper>
